<!-- 변수 셋팅 -->
<script th:inline="javascript" xmlns:th="http://www.thymeleaf.org">
    /*<![CDATA[*/
    const wikiList = /*[[${wikiList}]]*/ "";
    /*]]>*/
</script>
<table class="wikiList table table-hover table-striped text-center font-NG" xmlns:th="http://www.thymeleaf.org">
    <thead class="thead-dark">
    <tr>
        <th>코드</th>
        <th>제목</th>
        <th>작성자</th>
        <th>날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wiki : ${wikiList}" class="" th:classappend="|wiki${wikiStat.index}|" >
        <td><span th:text="${wiki.codeId}"></span></td>
        <td><span th:text="${wiki.codeName}"></span></td>
        <td><span th:text="${wiki.userName}"></span></td>
        <td><span th:text="${#temporals.format(wiki.updateDate, 'yyyy-MM-dd HH:mm')}"></span></td>
    </tr>
    </tbody>
</table>