<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CODE WIKI</title>
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" type="text/css">

    <!-- CSS-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Comfortaa|Noto+Sans+KR|Nanum+Gothic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/wiki-list.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-style.css}" type="text/css">

    <!-- favicon -->
    <th:block th:include="common/favicon.html" />
</head>
<body>
    <div th:insert="common/header.html"></div>

    <div class="list-title">
        <h5 class="h5" th:if="${listType}=='lately'">위키 문서 목록 : 최근 변경된 문서</h5>
        <h5 class="h5" th:if="${listType}=='old'">위키 문서 목록 : 편집된지 오래된 문서</h5>
        <h5 class="h5" th:if="${listType}=='longest'">위키 문서 목록 : 내용이 긴 문서</h5>
        <h5 class="h5" th:if="${listType}=='shortest'">위키 문서 목록 : 내용이 짧은 문서</h5>
    </div>
    <!-- 변수 셋팅 -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        const wikiList = /*[[${wikiList}]]*/ "";
        /*]]>*/
    </script>

    <div th:include="common/wiki-list-table"></div>

    <!-- 페이징 처리 -->
    <nav class="NavPage">
        <ul class="pagination pagination-sm justify-content-center">

            <span th:if="${prevBlock>0}">
                <li class="page-item">
                    <span th:if="${listType}=='lately'">
                        <a class="page-link" th:href="@{'/wiki/list/lately?page=' + ${prevBlock}}" tabindex="-1" aria-disabled="true">이전</a>
                    </span>
                    <span th:if="${listType}=='old'">
                        <a class="page-link" th:href="@{'/wiki/list/old?page=' + ${prevBlock}}" tabindex="-1" aria-disabled="true">이전</a>
                    </span>
                    <span th:if="${listType}=='longest'">
                        <a class="page-link" th:href="@{'/wiki/list/longest?page=' + ${prevBlock}}" tabindex="-1" aria-disabled="true">이전</a>
                    </span>
                    <span th:if="${listType}=='shortest'">
                        <a class="page-link" th:href="@{'/wiki/list/shortest?page=' + ${prevBlock}}" tabindex="-1" aria-disabled="true">이전</a>
                    </span>
                </li>
            </span>

            <span th:each="pageNum : ${pageList}" th:inline="text">
                <span th:if="${#strings.equals(#strings.toString(pageNum), #strings.toString(page))}">
                    <li class="page-item active disabled" aria-current="page">
                        <a class="page-link active-page-link">[[${pageNum}]]</a>
                    </li>
                </span>
                <span th:unless="${#strings.equals(#strings.toString(pageNum), #strings.toString(page))}">
                    <li class="page-item">
                        <span th:if="${listType}=='lately'">
                            <a class="page-link" th:href="@{'/wiki/list/lately?page=' + ${pageNum}}">[[${pageNum}]]</a>
                        </span>
                        <span th:if="${listType}=='old'">
                            <a class="page-link" th:href="@{'/wiki/list/old?page=' + ${pageNum}}">[[${pageNum}]]</a>
                        </span>
                        <span th:if="${listType}=='longest'">
                            <a class="page-link" th:href="@{'/wiki/list/longest?page=' + ${pageNum}}">[[${pageNum}]]</a>
                        </span>
                        <span th:if="${listType}=='shortest'">
                            <a class="page-link" th:href="@{'/wiki/list/shortest?page=' + ${pageNum}}">[[${pageNum}]]</a>
                        </span>
                    </li>
                </span>
            </span>
            <span th:if="${nextBlock>0}">
                <li class="page-item">
                    <span th:if="${listType}=='lately'">
                        <a class="page-link" th:href="@{'/wiki/list/lately?page=' + ${nextBlock}}">다음</a>
                    </span>
                    <span th:if="${listType}=='old'">
                        <a class="page-link" th:href="@{'/wiki/list/old?page=' + ${nextBlock}}">다음</a>
                    </span>
                    <span th:if="${listType}=='longest'">
                        <a class="page-link" th:href="@{'/wiki/list/longest?page=' + ${nextBlock}}">다음</a>
                    </span>
                    <span th:if="${listType}=='shortest'">
                        <a class="page-link" th:href="@{'/wiki/list/shortest?page=' + ${nextBlock}}">다음</a>
                    </span>
                </li>
            </span>
        </ul>
    </nav>

    <!--JavaScript-->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/search-event.js}" type="text/javascript"></script>
    <script th:src="@{/js/wiki-list.js}" type="text/javascript"></script>
</body>
</html>