<div class="row dashboard" xmlns:th="http://www.thymeleaf.org">
    <div class="card col-xl-5">
        <h5 class="card-header">Board: Post</h5>
        <div class="card-body">
            <canvas id="board-chart"></canvas>
        </div>
    </div>
    <div class="card col-xl-5">
        <h5 class="card-header">User: Register</h5>
        <div class="card-body">
            <canvas id="user-chart"></canvas>
        </div>
    </div>
    <div class="card col-xl-5">
        <h5 class="card-header">Barcode: Register</h5>
        <div class="card-body">
            <canvas id="barcode-chart"></canvas>
        </div>
    </div>
    <div class="card col-xl-5">
        <h5 class="card-header">Document: Revision</h5>
        <div class="card-body">
            <canvas id="document-chart"></canvas>
        </div>
    </div>
</div>