<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CODE WIKI</title>
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" type="text/css">

    <!-- CSS-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Comfortaa|Noto+Sans+KR|Nanum+Gothic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/board.css}" type="text/css">

    <!-- favicon -->
    <th:block th:include="common/favicon.html" />
</head>
<body>
    <div th:insert="common/header.html"></div>

    <section>
        <div class="board-content">
            <h4 class="h4" th:text="${boardDto.title}"></h4>
            <p th:text="${boardDto.writer}" class="strOwnerName" style="text-align: right;"></p>
            <p th:inline="text" class="strDate" style="text-align: right;">
                작성일: [[${#temporals.format(boardDto.createdDate, 'yyyy-MM-dd HH:mm:ss')}]], 조회수: [[${boardDto.hit}]]
            </p>
            <hr>
            <p th:text="${boardDto.content}"></p>
        </div>
        <div class="btn-view">
            <input type=button class="btn btn-secondary btnWrite" value="글쓰기">
            <input type=button class="btn btn-secondary btnList" value="목록">
            <a th:href="@{'/board/post/edit/'+${boardDto.id}}"><button class="btn btn-secondary">수정</button></a>
            <form id="delete-form" th:action="@{'/board/post/' + ${boardDto.id}}" method="post">
                <input type=hidden name="_method" value="delete" />
                <button id="delete-btn" class="btn btn-secondary">삭제</button>
            </form>
        </div>
    </section>
    <footer></footer>

    <!--JavaScript-->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/search-event.js}" type="text/javascript"></script>
    <script th:src="@{/js/post.js}" type="text/javascript"></script>
</body>
</html>