<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CODE WIKI</title>
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" type="text/css">

    <!-- CSS-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Comfortaa|Noto+Sans+KR|Nanum+Gothic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/board.css}" type="text/css">

    <!-- favicon -->
    <th:block th:include="common/favicon.html" />
</head>
<body>
    <div th:insert="common/header.html"></div>

    <section>
        <form id="form-write" th:action="@{/board/write}" method="post">
            <!--제목-->
            <div class="control-group">
                <div class="form-group">
                    <label class="f1" for="title">제목</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="제목 입력" required data-validation-required-message="Please enter title.">
                    <p class="help-block text-danger"></p>
                </div>
            </div>

            <!--내용-->
            <div class="control-group">
                <div class="form-group">
                    <label class="f1" for="content">내용</label>
                    <textarea class="form-control" rows="10" name="content" id="content" required data-validation-required-message="Please enter a content."></textarea>
                    <p class="help-block text-danger"></p>
                </div>
            </div>

            <!--저장하기, 다시쓰기 버튼-->
            <div class="center">
                <input id="submitButton" type="submit" class="btn btn-secondary btn-xl" value="저장하기">
                <button type="reset" class="btn btn-warning btn-xl">다시쓰기</button>
                <br/><br/>
            </div>
        </form>
    </section>
    <footer></footer>

    <!--JavaScript-->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/search-event.js}" type="text/javascript"></script>
</body>
</html>