<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ERROR: CODE WIKI</title>
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" type="text/css">

    <!-- CSS-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Comfortaa|Noto+Sans+KR|Nanum+Gothic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">

</head>
<body>

<div th:insert="common/header.html"></div>

<article>
    <div class="no-wiki-document">
        <p>요청을 처리할 수 없습니다.</p>
        <p>다시 시도해 주시면 안되겠습니까?</p>
        <input type="button" class="btn btn-secondary btnBack" onclick="history.back()" value="이전 페이지로 이동">
    </div>
</article>

<!--JavaScript-->
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
<script th:src="@{/js/search-event.js}" type="text/javascript"></script>

</body>
</html>