.board-list {
    width: 98%;
    margin-top: 30px;
    margin-left: 1%;
    font-size: 0.7em;
}

.action-write {
    text-align: center;
    margin-right: 1%;
}

#form-write {
    margin-top: 30px;
    width: 98%;
    margin-left: 1%;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.board-content {
    width: 96%;
    margin-top: 30px;
    margin-left: 2%;
}

.btn-view {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.btn-view .btn {
    margin-left: 5px;
    margin-right: 5px;
}

.board-menu {
    display: flex;
    justify-content: flex-end;
}

.board-menu div form {
    margin-left: 5px;
    margin-right: 5px;
}

.form-search {
    display: flex;
}

.form-search input {
    margin-left: 5px;
    margin-right: 5px;
}
.pagination .active .active-page-link {
    background: #343a40;
    border-color: #343a40;
    color: #FFFFFF;
}
.page-link {
    color: #343a40;
}
@media screen and (max-width: 423px){
    .form-search input {
        font-size: 0.8rem;
    }

    .btn-write {
        font-size: 0.85rem;
    }
}
