.font-comfortaa {
    font-family: 'Comfortaa', cursive;
}

.font-noto-sans {
    font-family: 'Noto Sans KR', sans-serif;
}

.font-ng{
    font-family: 'Nanum Gothic', sans-serif;
}

.fs-bold {
   font-weight: bolder;
}