.font-comfortaa {
    font-family: 'Comfortaa', cursive;
}

.font-NotoSans {
    font-family: 'Noto Sans KR', sans-serif;
}

.font-NG{
    font-family: 'Nanum Gothic', sans-serif;
}

.fs-bold {
   font-weight: bolder;
}